<section class="home-page">
  <h1> Welcome </h1>
  <h2>to</h2> 
  <h1>Rx Keeper!</h1>
  <p> We know how difficult it is to keep track of all of your glasses and contact prescription details, but with Rx Keeper, adding all of your information has never been easier!</p>
  
  <a class="signup" href="#/signup">Sign Up!</button>
</section>

