<div class="log-errors"></div>

<div class="sign-form group">  
  <form class="new-user group">
    <input
      type="text"
      name="user[username]"
      placeholder="Username"
      id="user_username">

    <input
      type="password"
      placeholder="Password"
      name="user[password]"
      id="user_password">
      
    <button class="login">Sign Up</button>
  </form>
</div>